@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@font-face {
  font-family: title;
  src: url("Poppins-Bold.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@font-face {
  font-family: thins;
  src: url("Poppins-Thin.ttf");
}
@font-face {
  font-family: extralight;
  src: url("Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: regular;
  src: url("Poppins-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: title;
}
nav {
  position: relative;

  width: 100svw;
  display: flex;
  height: 10%;
  z-index: 5;

  label {
    padding: 20px;
    font-size: 150%;
    font-weight: bolder;
    font-family: title;
  }
  ul {
    position: absolute;
    margin-left: 5%;
    padding: 30px 20px 20px 20px;
    display: inline-flex;

    list-style: none;
    li {
      font-size: 80%;
      margin-left: 40%;
      font-family: regular;

      a {
        text-decoration: none;
        color: rgb(117, 117, 117);
        &:hover {
          //     outline: 2px solid black;
          //     border-radius: 10px;
          //    outline-offset: 5px;
          color: black;
        }
      }
    }
  }
  .menu {
    position: absolute;
    float: right;
    right: 9px;
    visibility: hidden;
  }
}

.home {
  height: 90svh;
  width: 100svw;
  display: grid;
  grid-template-columns: 45% 55%;

  .col-home-one {
    position: relative;

    padding: 50px 0px 0px 50px;

    h1 {
      margin-top: 15%;
      font-size: 350%;
      font-family: "Tilt Warp", cursive;
      letter-spacing: 2px;
      margin-bottom: 10%;
    }
    p {
      color: rgb(110, 110, 110);
      font-family: regular;
      font-style: 1rem;
      margin-top: 10px;
      line-height: 1.5rem;
      margin-bottom: 10%;
    }
    .resume-btn {
      position: absolute;
      display: block;
      cursor: pointer;
      margin-top: 5px;
      padding: 8px;
      width: 30%;
      border-radius: 10px;
      background: none;
      border: 2px solid #dec92e;
      margin-right: auto;
      color: #dec92e;
      transition: 0.5s;

      &:hover {
        background-color: #dec92e;
        color: white;
      }
    }
  }
  .col-home-two {
    img {
      margin-left: 16%;
      margin-top: 15%;
      max-width: 70%;
      min-width: 60%;
      min-height: 60%;
      max-height: 80%;
    }
  }
}
#about {
  position: relative;
  display: flex;
  height: 100svh;

  padding: 30px;

  .about-title {
    text-align: center;
  }
  .my-photo {
    flex: 1;
    margin-top: 10%;
    img {
      width: 100%;
      height: 70%;
    }
  }
  .my-personality {
    flex: 1;
    padding: 100px;
    padding-top: 150px;
    p {
      line-height: 3rem;
    }
  }
}

#checkbox {
  display: none;
}

.leftMe {
  left: 0%;
}

//responsive settings media queries
// @media (max-height: 700px) {
//   body {
//     background: black;
//   }
//   nav ul li {
//     line-height: 2rem;
//   }
// }

@media (max-width: 1206px) {
  .col-home-one {
    justify-content: center;
    align-items: center;

    h1 {
      font-size: calc(1vw + 3rem);
    }
    p {
      font-size: calc(1vw + 0.5rem);
    }
  }

  #about {
    .my-photo {
      padding-left: 50px;
    }
    p {
      line-height: 3rem;
      color: rgb(40, 40, 40);
      text-align: center;
    }
  }
  #about .my-personality {
    padding-top: 100px;
  }
}

@media (max-width: 1140px) {
  #about {
    .my-photo {
      margin-top: 10%;
      img {
      }
    }
    .my-personality {
      padding: 50px;
      padding-top: 100px;
      h1 {
        line-height: 0;
        margin-bottom: 5px;
      }
      p {
        text-align: center;
        line-height: 3rem;
      }
    }
  }
}

@media (max-width: 900px) {
  .home {
    .col-home-one {
      padding: 40px;
      h1 {
        margin-top: 5%;
        text-align: center;
      }
      p {
        text-align: center;
      }
      .resume-btn {
        position: relative;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .home {
    grid-template-columns: 1fr;
  }
  .menus {
    display: block;
  }
  nav {
    background-color: #dec92e;
    ul {
      background: #dec92e;

      position: absolute;
      top: 77px;
      margin-left: 0;
      width: 100%;
      height: 100svh;
      text-align: center;
      left: -100%;
      transition: 0.5s;
      z-index: 3;
      li {
        margin: 0;
        line-height: 8rem;
        font-size: 20px;
        z-index: 1;
      }
    }

    .menu {
      visibility: visible;
    }
  }

  #about {
    display: block;
    margin-top: 50%;

    .my-photo {
      margin-top: 10px;
      img {
        width: 70%;
        margin-left: 12.5%;
      }
    }
    .my-personality {
      padding-top: 50px;
    }
  }
}
@media (max-width: 670px) {
  #about {
    padding: 0;
    margin-top: 70%;
    .my-photo {
      margin-top: 50px;
      img {
        width: 90%;
        margin-left: 0;
      }
    }
    .my-personality {
      line-height: 2rem;
    }
  }
}

@media (max-width: 430px) {
  .home .col-home-two img {
    margin-left: 19%;
    margin-top: 5%;
  }
  #about {
    margin-top: 0px;
    .my-personality {
      padding-top: 50px;
    }
    .my-photo {
      img {
        width: 100%;
        margin-left: -6.5%;
      }
    }
  }
}
@media (max-width: 400px) {
  #about {
    margin-top: 30%;
  }
}
@media (max-width: 360px), (max-height: 740px) {
  .home .col-home-one {
    padding-bottom: 5px;
  }
  .home .col-home-two img {
    margin-top: 2%;
  }
}
@media (max-width: 300px) {
  .home {
    .col-home-one {
      padding: 20px;
      h1 {
        font-size: 250%;
      }
    }
  }
  #about {
    margin-top: 10%;
    .my-photo {
      img {
        margin-left: -11%;
      }
    }

    .my-personality {
      padding: 10px;
      h1 {
        font-size: 20px;
      }
      p {
        font-size: 10px;
        line-height: 2rem;
      }
    }
  }
}
